mixin titleGroup(titleTop, titleBottom, addClass)
	if addClass
		.title-group.text-center(class=" "+ addClass)
			.title-2(data-aos="fade-up" data-aos-duration="500" data-aos-delay="500")
				h2 !{titleTop}
			.title-3(data-aos="fade-up" data-aos-duration="500")
				h3 !{titleBottom}
	else
		.title-group
			.title-2(data-aos="fade-up" data-aos-duration="500")
				h2 !{titleTop}
			.title-3(data-aos="fade-up" data-aos-duration="500" data-aos-delay="500")
				h3 !{titleBottom}
mixin titleGroup2(titleTop, titleBottom)
	.title-group
		.title-2
			h2 !{titleTop}
		.title-1
			h1 !{titleBottom}

mixin infoCard1
	.info-card.info-card--bg
		.info-card__img
			img(src="img/images/9.jpg", width="256" alt="img")
			.blure-block
				img(src="img/images/9.jpg", width="256" alt="img")
		.info-card__body
			.marked-text
				span Millenials
				span followed
				span 24/7
		
		.info-card__footer
			a(href="#!").button-white
				span Learn more
				span
					+sliderArrowRight
mixin headerBlog(topTitle, title1)
	// header-top
	.header-top
		a(href="index.html").logo
			img(src="img/logo/logo.png", width="92" alt="logo")
		.menu-toggle
			span
	//header-menu
	.header-navigation
		.header-menu.header-menu--purple
			.header-menu__list
				.header-menu__list-head
					a(href="index.html").logo.logo--mobile
						img(src="img/logo/logo.png", width="92" alt="logo")
					button.close-mobile-menu
						+icon-close
				ul
					li
						a(href="index.html") Home
					li
						a(href="whatWeDo.html") What we do
					li
						a(href="whoWeAre.html") Who we are
					li
						a(href="careers.html") Careers
					li.active
						a(href="resources.html") Resources
					li
						a(href="signIn.html") Sign in
	.hidden-layout
	header.header.header--detail
		.container.container--p0
			.header-content
				.title-group.text-center
					.title-2
						h2 
							a(href="resources.html") !{topTitle}
					.title-1
						h1 !{title1}
						