mixin events(text)
    .events-cards-item&attributes(attributes)
        p.text-1 !{text}
mixin lable(text)
    .lable !{text}

//- базовая карточка без фона c 2 бейджами
mixin infoCardBadge(title1,title2,title3)
    .info-card.info-cardBadge
        .info-card__img
            img(src="img/whoweare/4.jpg", width="226" alt="img")
            .blure-block
                img(src="img/whoweare/4.jpg", width="226" alt="img")
        .info-card__body
            .info-card__badge
                span !{title1}
            .info-card__badge.info-card__badge--white
                span
                    +map
                span !{title2}
            .marked-text !{title3}
        .info-card__footer
            a(href="#!").button-white
                span Schedule a meeting
                span
                    +sliderArrowRight

mixin infocard4(spanText, addText1, addText2, imgSrc)
    .info-card.info-card--bg
        .info-card__img
            img(src="img/whoweare/"+imgSrc +".jpg", width="256" alt="img")
            .blure-block
                img(src="img/whoweare/"+imgSrc +".jpg", width="256" alt="img")
        .info-card__body
            .info-card__title
                h3 !{spanText}
            .additional-info
                p #{addText1}
                p #{addText2}
        .info-card__footer
            a(href="#!").button-white
                span Learn more
                span
                    +sliderArrowRight

